<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0;">
 	<meta name="format-detection" content="telephone=no"/>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <table>
         <tbody>
            <tr>
               <td>Name: </td>
               <td>{{name}}</td>
            </tr>
            <tr>
               <td>Email: </td>
               <td>{{email}}</td>
            </tr>
            <tr>
               <td>Message: </td>
               <td>{{message}}</td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
